body {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.form-field {
  margin: 0rem 0rem 1rem 0rem;
}

.new-tweet {
  width: 60vw;
  height: 30vh;
}

.header {
  display: flex;
  margin: 0rem 5rem 0rem 3rem;
  justify-content: space-between;
}


.post {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 25vw;
  margin: 0 auto;
}