body {
  /* background: linear-gradient(0deg, rgb(63, 0, 0) 0%, rgb(136, 0, 0) 100%); */
  background: 
  linear-gradient(135deg, rgb(0, 0, 0) 25%, transparent 25%) -50px 0,
  linear-gradient(225deg, rgb(0, 0, 0) 25%, transparent 25%) -50px 0,
  linear-gradient(315deg, rgb(0, 0, 0) 25%, transparent 25%),
  linear-gradient(45deg, rgb(0, 0, 0) 25%, transparent 25%);	
  background-size: 100px 100px;
  background-color: rgb(118, 118, 118);
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1 {
  font-size: 3em;
}

.site {
  /* display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr auto;
  grid-template-areas:
    "header header"
    "main aside"; */
  display: flex;
  justify-content: space-evenly;
}

.form-field {
  margin: 0rem 0rem 1rem 0rem;
}

.new-tweet {
  width: 60vw;
  margin: 0rem 0rem 0rem 3rem;
}

.header {
  display: flex;
  margin: 0rem 5rem 0rem 3rem;
  justify-content: space-between;
  border-bottom: 1px white solid;
  grid-area: header;
}

.feed {
  grid-area: main;
}

.post {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 30vw;
  padding: 1rem;
  margin: 1rem auto;
  border: 1px solid black;
  background-color: rgba(117, 0, 0, 0.767);
  min-width: 250px;
}

.post-head {
  display: flex;
  border-bottom: 1px solid black;
  justify-content: space-between;
  align-items: center;
}

.post-head > img{
  width: 80px;
  height: 80px;
}

.post-head > address > h4{
  margin: 0rem 0rem 0rem 1rem
}

.post-body > img {
  max-width:100%;
  max-height:100%;
}

.profile {
  width: 25vw;
  height: 30vh;
  border: 1px solid black;
  margin: 1rem;
  background-color: rgba(117, 0, 0, 0.767);
  display:flex;
  flex-direction: column;
  min-width: 250px;
}

.profile-head {
  display: flex;
  align-items: center;  
  justify-content: space-between;
  margin: 1rem;
}

.profile-head > address > h4{
  margin: 0rem 0rem 0rem 1rem
}

.profile-buttons {
  width: 150px;
  margin: 0 auto;
  text-align: center;
}
.profile-pic {
  width:80px;
  height:80px;
}